body {
  background: #ebd5d5;
  font-family: verdana;
  line-height: 16px;
}

h1,
h2,
h3,
.temperature {
  color: #685454;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

p,
footer {
  color: #685454;
  font-size: 10px;
}

footer {
  text-align: center;
}

a {
  color: #ea8a8a;
  text-decoration: none;
}

a:hover {
  color: #685454;
}

.container {
  margin: 60px auto;
  padding: 40px;
  background: #f2f2f2;
  border-radius: 10px;
  display: block;
  max-width: 600px;
  box-shadow: 0 30px 50px #685454;
}

#search-input {
  border-radius: 8px;
  border: none;
  line-height: 46px;
  padding: 0 10px;
  width: 50%;
}

#search-button {
  color: white;
  background: #ea8a8a;
  border: 1px solid #ea8a8a;
  border-radius: 8px;
  padding: 14px 10px;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  background: white;
  border: 1px solid white;
  color: #ea8a8a;
}

.weather-app {
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
}

.condition {
  font-weight: 800;
  color: #ea8a8a;
}

.temperature,
.weather-icon {
  font-size: 40px;
}
